body {
    background-color: #444444;
}


.App {
    text-align: left;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    text-align: center;
    height: 120px;
    padding: 12px;
    text-decoration-color: whitesmoke;
}

.App-title {
    font-size: 1.5em;
}

input {
    background-color: transparent;
    border-color: transparent;
    width: auto;
}

input[type="color"] {
    width: 20px;
    border-color: transparent;
}

div.island {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #222222;
    border-radius: 3px;
    overflow: hidden;
    padding: .3em;
    margin: 0 .3em .3em .3em;
    z-index: 0;
}

div.islandZ100 {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #222222;
    border-radius: 3px;
    overflow: hidden;
    padding: .3em;
    margin: 0 .3em .3em .3em;
    z-index: 100;
}

p.island-name {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    margin-right: 2px;
}

div.street {
    border-radius: 3px;
    padding: 2px 0 2px 0;
    margin: 0.3em;
}

span {
    font-size: 18px;
    margin: 3px;
}

span.stage {
    font-weight: bolder;
    color: #f1f1f1;
    text-transform: lowercase;
    font-family: monospace;
}

span.domain {
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}

span.path {
    font-size: 8px;
    font-weight: bold;
    font-family: monospace;
}

a {
    float: left;
    border-radius: 20px;
    font-size: 6px;
    height: 20px;
    width: 20px;
    border:2px solid #ddd;
    stroke: #0a1608;
    stroke-width: 2px;
}

a[class^="_20"]{
    background-color: forestgreen;
}

a[class^="_50"]{
    background-color: magenta;
}

a[class^="_40"]{
    background-color: darkgoldenrod;
}

a._blue{
    float: left;
    border-radius: 20px;
    font-size: 6px;
    height: 20px;
    width: 20px;
    background-color: lightskyblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {background-color: #85ffab;}
    50% {background-color: #efde5b;}
    100% {background-color: #85ffab;}
}

/* Standard syntax */
@keyframes example {
    0% {background-color: #85ffab;}
    50% {background-color: #efde5b;}
    100% {background-color: #85ffab;}
}

.container {
    background-size: cover;
    background: rgb(226, 226, 226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(50%, rgba(219, 219, 219, 1)), color-stop(51%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0); /* IE6-9 */
    padding: 20px;
}

.body-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1%;
    padding: 0.2em;
    height: max-content;
}

.hit-the-floor {
    color: #fff;
    font-size: 3em;
    margin: .2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    text-align: center;
}

.customize {
    opacity: 55%;
    margin: 2px;
}

input.small-border{
    font-family: monospace;
    font-size: large;
    color: #DDDDF4;
    border: hidden;
    width: 2em;
    text-align: center;
    font-weight: bolder;
}

span.cBackground{
    padding: 0 0.6rem ;
    border: solid 1px #aaa;
}

input.cBackground{
    width: 30px;
    height: 31px;
    vertical-align: middle;
    padding: 0;
}
